footer {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--element-background);
    align-items: center;
    justify-content: space-evenly;
}

footer > div {
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

#disclaimer {
    width: 95%;
    font-size: 14pt;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
}