footer {
    width: 100vw;
    height: 100vh;
    background-color: var(--element-background);
    align-items: center;
    justify-content: space-evenly;
}

footer > div {
    align-items: center;
    justify-content: space-around;
    width: 30%;
}