#project-presenter a {
    text-decoration: underline;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: var(--element-background);
    border: 2px solid #252525;
    border-radius: 3%;
    box-shadow: 10px 5px 5px #151515;
    
    transition: border-color 500ms;

    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    min-height: 33vh;
    padding: 20px;
    gap: 1rem;
    box-sizing: border-box;
}

.project-card:hover {
    border-color: #707070;
}