#greeter {
    gap: 2vh;
    align-items: center;
    justify-content: start;
    padding-top: 120px;
}

#greeter > div {
    align-items: center;
    justify-content: center;
}

#greet-text {
    height: 70vh;
    width: 100vw;
}

#greet-text > h1 {
    font-size: 44pt;
    text-align: center;
    letter-spacing: 8px;
    word-spacing: 25vw;
    margin: 0;
}

#hidden-text {
    height: 80%;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0;
}

#hidden-text * {
    text-align: center;
    opacity: 0;
}

#scroll-inv {
    opacity: 0;
}

#scroll-inv > p {
    margin: 0;
}

@media (min-height: 668px) {
    #scroll-inv {
        height: 8vh
    }
}

@media (max-width: 975px) {
    #greet-text > h1 {
        font-size: 6vw;
    }
}